header {
	color: Black;
	text-align: center;
	vertical-align: middle;
}

.welcome {
	background-image: url("/images/grad_photo.JPG");
	text-align: center;
	vertical-align: middle;
	background-size: 100% auto;
}

a.home {
	color: Black;
	text-decoration: none;
}

a.home:hover {
	color: Black;	
}

body {
    margin: auto;
    background-color: White;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 100%;
}

nav li, footer li {
    float: left;
}

a.nav {
    text-decoration: none;
    text-align: left;
    display: block;
    padding: 10px 40px;
	color: Black;
}

a.nav:hover {
    background-color: LightYellow;
}

h1 {
    font-family: Georgia, serif;
}

h1.welcome {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: white;
	font-weight: bold;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

a.footer {
	text-decoration: none;
	color: #999;
}

a.footer:hover {
	color: Blue;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

a.posts {
	background-color: white;
	color: black;
	height: 101px;
	width: 100%;
	text-decoration: none;
}

a.posts:hover, a.posts:active {
	text-decoration: underline;
}
	
.grid_container {
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.grid_item {
	padding-right: 20px;
	padding-left: 10px;
	padding-top: 30px;
	padding-bottom: 15px;
}

img.link {
	width: 300px;
	height: 200px;
}

img.link:hover {
	opacity: 0.75;
}
