header {
	background-color: AntiqueWhite;
	color: Black;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
}

a.home {
	color: Black;
}

a.home:hover {
	color: Black;	
}

body {
    margin: 0 auto;
    background-color: AliceBlue;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 100%;
}
nav li, footer li {
    float: left;
}
a.nav {
    text-decoration: none;
    text-align: left;
    display: block;
    padding: 10px 40px;
	color: Black;
}

a.nav:hover {
    border-style: solid none;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.category-button {
	background-color: #DA70D6;
	color: white;
	border: none;
	padding: 100px 50px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}

.category-button:hover {
	padding: 90px 45px;
}
