header {
	position: relative;
	overflow: hidden;
	color: Black;
}

.menu {
	float: left;
	padding-left: 5vw;
}

a.home {
	color: Black;
	text-decoration: none;
	float: none;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

a.home:hover, a.home:active {
	color: Black;
	text-decoration: none;
}

.social-icons {
	float: right;
	position: absolute;
	top: 50%
	left: 50%
	transform: translate(45%, -50%)
}

.fa {
 	padding: 20px;
 	font-size: 70px;
 	width: 50px;
 	text-align: center;
 	text-decoration: none;
 	margin: 5px 2px;
}

.fa-linkedin {
  background: white;
  color: black;
}

.fa-github {
	background: white;
	color: black;
}

.fa-instagram {
	background: white;
	color: black;
}

.welcome {
	background-image: url("/images/grad_photo.JPG");
	text-align: center;
	vertical-align: middle;
	background-size: 100vw auto;
}

body {
    margin: 0px;
    background-color: white;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: vividGreen;
    width: 100vw;
}

nav li, footer li {
    float: left;
}

a.nav {
    text-decoration: none;
    text-align: left;
    display: block;
    padding: 10px 40px;
	color: Black;
}

a.nav:hover {
    background-color: LightYellow;
}

.topnav-centered {
  left: 50%;
}

h1 {
    font-family: Georgia, serif;
}

h1.welcome {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: white;
	font-weight: bold;
	padding-top: 15vw;
	padding-bottom: 40vw;
	border-bottom: 3px solid silver;
	border-top: 3px solid silver;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

a.footer {
	text-decoration: none;
	color: #999;
}

a.footer:hover {
	color: Blue;
}

ul.posts { 
   /* margin: auto; */
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

a.posts {
	background-color: white;
	color: black;
	height: 101px;
	width: 100%;
	text-decoration: none;
}
	
.grid_container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid_item {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 30px;
	padding-bottom: 15px; 
}

img.link {
	width: 300px;
	height: 200px;
}

img.link:hover {
	opacity: 0.75;
}
