<?php


if($_POST["message"]) {


mail("kamalapillai@gmail.com", "From Personal Website",


$_POST["insert your message here"]. "From: kamalapillai@gmail.com");


}


?>
<!DOCTYPE html>
	<html>
		<head>
			<title>Kamala Pillai</title>
			<!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- Add icon library -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<script src="/contact.js"></script>
		</head>
		<!--<div class="menu">
			<div class="fa fa-bars"></div>
		</div>-->
		<body>
		<!--<div class="menu">
			<div class="dropdown">
				<div class="fa fa-bars fa-lg"></div>
				<div class="dropdown-content">
   					<a href="/">Home</a>
    					<a href="/about">About</a>
					<a href="/contact">Contact</a>
				</div>
			</div>
		</div> -->
		<header>
			<h1><a class="home" href="/">Kamala Pillai</a></h1>
			<div class="social-icons">
				<a href="https://www.linkedin.com/in/kamala-pillai/" class="fa fa-linkedin fa-lg" target="_blank"></a>
				<a href="https://github.com/kpill" class="fa fa-github fa-lg" target="_blank"></a>
				<a href="https://www.instagram.com/kamalafood/?hl=en" class="fa fa-instagram fa-lg" target="_blank"></a>
			</div>
		</header>
		<div class="container">
			
			{{ content }}
			
		</div><!-- /.container -->
		<!--
		<footer style="text-align:center">
			<h3 class="footer-text">Website Design by Kamala Pillai</h3>
			<h3 class="footer-text">Blog Photos from Unsplash</h3>
		</footer>
		-->
		</body>
	</html>
